<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 페이지입니다</title>
</head>
<body>
<div>{{ user }}님의 페이지 마지막 로그인 : {{ user.last_login }}</div>
<div>현재 로그인한 사용자는 {{ request.user }} 입니다.</div>

<h2>나의 게시글</h2>

{% for article in user.article_set.all %}
    <div>
        <div>{{ article.title }}</div>
        <div>{{ article.content }}</div>
    </div>
{% endfor %}

{% if request.user == user %}
    <button>프로필 편집</button>
{% endif %}
</body>
</html>